#! /bin/sh
#
# settings for megawave
#
# This file is sourced by the megawave wrapper, a sh (not bash)
# script. It can be placed in
# * /etc/megawave3.config      (global settings)
# * ~/.config/megawave3.config (user settings)

#
# VARIABLES
#

# These variables are read from the wrapper script and the
# configuraton file, overriding any previously exported environment
# variable of the same name in the context of the megawave execution.

# DOCVIEWER : the program used to display the documentation, when
# called by `mwdoc` or `mw3 -d`
#
# This variable must be the name of an html browser.
#
# Default setting is "see" (the default program used by your sustem to
# display html documents).
#
# Examples:
#DOCVIEWER=firefox
#DOCVIEWER=epiphany
#DOCVIEWER=konqueror
#DOCVIEWER=w3m
#DOCVIEWER=sensible-browser
#DOCVIEWER=$(which sensible-browser firefox epiphany konqueror w3m see)

# DATAPATH  : the list of places where megawave will look for data
# files
#
# This variable is a colon-separated list of folders, like the
# standard PATH environment variable. megawave will not recursively
# search in subfolders. You should extend this setting rather than
# replace it.
#
# Default is $DESTDIR/share/megawave3/data and its subfolders, where
# $DESTDIR is the installation base directory.
#
# Examples:
#DATAPATH=$DATAPATH:~/work/images/:~/work/movies/
#DATAPATH=$DATAPATH:~/.megawave3/data/

# LOCALPATH  : the location where the megawave compilation script will
# store your own compiled modules and libraries
#
# This variables is a folder name.
#
# Default is ~/.megawave3/
#
# Examples:
#LOCALPATH=~/work/megawave3/build
#LOCALPATH=~/my_megawave3/

#
# OTHER
#

# This file is sourced every time you run a megawave program, so you
# can also use it to do fancy things, like:
# * redefine LD_LIBRARY_PATH, or other internal settings like DOC_PATH
#   (see the mw3 wrapper source)
# * do usage statistics
# * ...
